.idea
./out
*.class
*.iml
*.ini
*.env
*.zip
drone_sense.properties
results

path_generation/PlanGeneration/conf/
path_generation/PlanGeneration/datasets/
__pycache__/

!path_generation/EPOS/conf/log4j.properties
!path_generation/EPOS/conf/measurement.conf
!path_generation/EPOS/conf/protopeer.conf
